:root {
    --primary: #ffffff
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Grandstander', cursive;
}

.btn--primary {
    background-color: var(--primary);
    color:  rgb(141, 238, 141);
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: rgb(233, 134, 180);
    padding: 8px 20px;
    padding: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-medium {
    padding: 8px 26px;
    font-size: 20px;
}

.btn--medium:hover, 
.btn--large:hover {
    background: rgb(141, 238, 141);
    color: rgb(233, 134, 180);
    transition: all 0.3s ease-out;

}